@using TATelecomTask.Enums;
@model AddContactLogInputModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>it is about : sending Messages.</p>

        <form asp-controller="Home" asp-action="PostMessage" method="post">
            <input asp-for="Message" type="text" class="form-control" placeholder="Message" required>
            <label class="form-control border-0">@Html.ValidationMessageFor(model => model.Message) </label>
            <input type="submit" value="Send" class="btn btn-primary m-2 b-3" />
        </form>

        @if ((string)TempData["Status"] == SendStatus.Sended.ToString())
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>message sended successfully</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @if ((string)TempData["Status"] == SendStatus.NotSended.ToString())
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>message sended successfully</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

